.grid{
    display: grid;
    position: relative;
    z-index: 0;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "article1 article1 article1 article1 article7 article8"
    "article1 article1 article1 article1 article3 article3"
    "article1 article1 article1 article1 article3 article3"
    "article4 article4 article2 article2 article2 article2"
    "article4 article4 article2 article2 article2 article2"
    "article9 article10 article2 article2 article2 article2"
    "article5 article5 article5 article6 article6 article6";
}

.title{
    position: absolute;
    bottom: 43vh;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.title img{
    display: block;
    width: 50%;
}

.grid a{
    width: 100%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#article1{
    grid-area: article1;
    background-image: url("../../public/IMG/A/AI\ THAT\ MAKES\ IMAGES.png");
    background-size: cover;
}

#article2{
    grid-area: article2;
    /*background-image: url("../../public/IMG/S/The\ benefits\ of\ using\ technology\ in\ sport.png");
    background-size: cover;*/
    background-color: #3a66ff;
}

#article3{
    grid-area: article3;
    background-image: url("../../public/IMG/F/Cartier\ and\ Tiffany\ are\ getting\ into\ Snapchat\ AR\ to\ sell\ luxury\ to\ Gen\ Z.jpeg.png");
    background-size: cover;
}

#article4{
    grid-area: article4;
    background-image: url("../../public/IMG/M/2023\ The\ Rise\ of\ Artificial\ Intelligence\ In\ Music.png");
    background-size: cover;
}

#article5{
    grid-area: article5;
    background-image: url("../../public/IMG/F/Fashion\ collaborations\ embracing\ technology\ in\ 2023.\ P.png");
    background-size: cover;
}

#article6{
    grid-area: article6;
    background-image: url("../../public/IMG/A/Technology\ and\ Art\ in\ 2023\ New\ Opportunities\ for\ Creativity.png");
    background-size: cover;
}

#article7{
    grid-area: article7;
    background-image: url("../../public/IMG/S/The\ key\ trends\ shaping\ global\ sport\ ahead\ of\ 2023.png");
    background-size: cover;
}

#article8{
    grid-area: article8;
    background-image: url("../../public/IMG/M/key\ insights\ from\ tiktok.png");
    background-size: cover;
}

#article9{
    grid-area: article9;
    background-image: url("../../public/IMG/M/The\ Best\ Times\ to\ Post\ on\ Social\ Media\ For\ Musicians\ in\ 2023.png");
    background-size: cover;
}

#article10{
    grid-area: article10;
    background-image: url("../../public/IMG/F/The\ Future\ of\ Fashion\ How\ tech\ is\ reshaping\ the\ industry.png");
    background-size: cover;
}