.article-content h1{
    font-variant: small-caps;
    font-weight: 900;
    width:100%;
    text-align: left;
}

.page-1{
   
    position: relative;
    top:0;
}

.page-2, .page-3{
    width: 80vw;
    top:12rem;
    transition: 1s ease;
}


.shown-page{
    display: block;
    position: relative;
    opacity: 100%;
    top:0;
    transition: 1s ease;
    
   
}

.next-page{
    position:relative;
    bottom:1000px;
    opacity: 0%;
    height: 0;
    transition: 1s ease;
    z-index: -5;
    overflow: hidden;
    
    
}

.previous-page{
    position:relative;
    top:-1000px;
    height: 0;
    opacity: 0%;
    transition: 1s ease;
    z-index: -5;

   
    
}


.img-container{
    width:fit-content;
    justify-content: center;
    margin-left: -12.5%;
    margin-top:3rem;
    object-fit: fill;
    z-index: 1;
    overflow: hidden;
    position: relative;
    max-width: 425px;
    max-height: 425px;;

}

.scrolled-down{
    margin: 0;
    height:20vh;
    overflow: hidden;
    object-fit: fill;
    position: fixed;
    top:0;
   
}

.illustration{
    max-width: 100vw;
    object-fit:cover;

}

.article-content{
    width:80%;
    position: relative;
}

.extract{

   text-align: justify;
}

.bottom-line{
    width:100%;
    text-align: right;
    font-style: italic;
}

.article-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.buttonDown:hover{
    cursor: pointer;
}


.button-next,.button-prev{
    position:fixed;
    top:50%;
    z-index: 50;
}

.like{
    position: absolute;
    right:0;
    margin-right:1rem;
    margin-top:0.5rem;
}