*{
  margin: 0 auto;
}

body{
  max-width: 425px;
  margin: 0 auto;

  font-family: Poppins;
  text-align: center;
}

.App{
  background-color: #6c64f7;
  max-width: 425px;
  margin: 0 auto;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

#mySidenav{
  display: block;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#greet{
  position: absolute;
  font-size: 2em;
  top: 80%;
  width: 100%;
}

.logout-btn{
  
  right:0%;  
}

.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 6;
  color: white;
  top: -950px;
  background-color:rgba(254, 190, 0, 0.9);
  transition: top 1s ease-out;
}

/* Sidenav menu links */

#login_reg{
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  font-size: larger;
  top:90%;
  left: 40px;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-left: 0;
  cursor: pointer;
  transition: 0.3s;
}

.top-menu{
  padding-top: 40px;
  margin: 0.5em;
}

.top-menu a{
  margin: 0 auto;
  cursor: pointer;
  font-size: 1.5em;
  text-align: left;
  padding: 0;
}


.sidenav ul {
  position: absolute;
  top: 25%;
  left: 20%;
  list-style-type: none;
  padding: 0;
  margin: 2em;
}

.sidenav ul li{
  font-size: 5em;
  display: flex;
  align-items: center;
}

.sidenav ul li img{
  width: 45px;
  margin-right: 0;
  height: 45px;
}


/* Active class */
.sidenav.active {
  top: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */

#openBtn{
  position: absolute;
  left: 10px;
  z-index: 1;
}

.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #febd12;
  margin: 6px 0;
}

.profile div{
  display: flex;
}

.profile p{
  margin: 0 auto;
  cursor: pointer;
}

