*{
  margin: 0 auto;
}

body{
  max-width: 425px;
  margin: 0 auto;

  font-family: Poppins;
  text-align: center;
}

.App{
  background-color: #6c64f7;
  max-width: 425px;
  margin: 0 auto;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

#mySidenav{
  display: block;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidenav {
  width: 100%;
  position: fixed;
  z-index: 6;
  top: -950px;
  background-color:rgba(254, 190, 0, 0.9);
  text-align: center;
  transition: top 1s ease-out;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 20px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  transition: 0.3s;
}

.top-menu{
  padding-bottom: 40px;
  padding-top: 15px;
  margin: 0.5em;
}

.top-menu a{
  font-size: medium;
  text-align: left;
  padding: 0;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  top: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */

#openBtn{
  position: absolute;
  left: 10px;
  z-index: 1;
}

.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #febd12;
  margin: 6px 0;
}

.profile{
  display: flex;
}
